<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "meta.html" . -}}
    {{- partial "site-style.html" . -}}
    {{- partial "site-scripts.html" . -}}
  </head>
  <body>
    {{ block "header" . }}{{ partial "site-header.html" . }}{{ end }}
    <main class="pb7" role="main">
      {{ block "main" . }}{{ end }}
      <ol class="list-decimal pl-10">
        {{ range .Site.Pages }}
          <li>
            <a href="{{ .Permalink }}">
              {{ if .Title }}
                {{ .Title }}
              {{ else }}
                no tile
              {{ end }}
            </a>
          </li>
        {{ end }}
      </ol>
    </main>
    {{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
  </body>
</html>
