<style>
  /*
  @keyframes toUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(
        calc(-1px * (var(--column-height) - var(--grid-height)))
      );
    }
  } 
  */

  @keyframes xtoUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc((-1px * (var(--column-height)) / 2)));
    }
  }

  @keyframes toDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(
        calc(1px * (var(--column-height) - var(--grid-height)))
      );
    }
  }

  /*
  .animate-up > div {
    transform: translate3d(0, 0, 0);
    will-change: transform;
    top: 0;
    animation: toUp calc(var(--column-height) / 250 * 1s) infinite linear;
  }
  .animate-down > div {
    transform: translate3d(0, 0, 0);
    will-change: transform;
    top: 0;
    animation: toUp calc(var(--column-height) / 150 * 1s) infinite linear;
    animation-delay: 0.5ms;
  }
  */

  .elevator {
    box-shadow:
      inset 0 0px 0 0px rgba(0, 0, 0, 0.05),
      inset 0 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  /*
  .elevator * {
    outline: 1px solid red;
  }
  */
</style>

<section class="elevator h-[60vh] md:h-[80vh] overflow-hidden">
  <div
    class="md:rotate-[-4deg] flex w-full justify-center px-3 md:px-5 lg:px-8 my-3 md:my-5 lg:my-8 h-[60vh] md:h-[80vh] "
    x-data="{ 
      isMobile: window.innerWidth <= 768,
      columns: 0,
      columnHeights: [],
      imageGroups: [],
      images: [],
    }"
    x-init="() => {
      const calculateColumns = () => {
        if (window.innerWidth >= 1280) {
          return 4; // 4 columns on screens larger than or equal to 1280px
        } else if (window.innerWidth >= 768) {
          return 3; // 3 columns on screens larger than or equal to 768px
        } else {
          return 2; // 2 columns on screens less than 768px
        }
      };
  
      const updateColumns = () => {
        const newColumns = calculateColumns();
  
        if (newColumns !== columns) {
          columns = newColumns;
          const chunkedImages = chunkArray(images, columns);
          imageGroups = chunkedImages.map((group, index) => ({
            images: group.concat(group),
            animationClass: (index % 2 === 0) ? '[&_div]:md:animate-toUpMD [&_div]:animate-toUpSlow' : '[&_div]:md:animate-toUpSlowMD [&_div]:animate-toUpSlow',
          }));
        }
      };
  
      // Fetch data from the API
      fetch('/artworks/gallery/index.json')
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Failed to fetch data from the API');
          }
        })
        .then(data => {
          // Update the 'images' array with data from the API response
          images = data;
          // Initial column calculation
          updateColumns();
          // Calculate and set column heights and grid height
          calculateAndSetColumnHeights();
          calculateAndSetGridHeight();
        })
        .catch(error => {
          console.error('Error fetching data from the API:', error);
        });
        
        
      // Listen for window resize events and update columns accordingly
      window.addEventListener('resize', updateColumns);
  
      // Calculate and set the column heights as CSS variables
      function calculateAndSetColumnHeights() {
        const colElements = document.querySelectorAll('.calcColHeight');
        const heights = Array.from(colElements).map((col) => col.offsetHeight);
  
        colElements.forEach((col, index) => {
          col.style.setProperty('--column-height', heights[index]);
          // Update the columnHeights array in x-data
          columnHeights[index] = heights[index];
        });
      }
  
      // Calculate and set the grid height as a CSS variable separately
      function calculateAndSetGridHeight() {
        const grid = document.querySelector('.elevator');
        const gridHeight = grid.offsetHeight;
        const gridHeightVar = gridHeight;
        
        // Set the CSS variable for .colGrid
        const boxElement = document.querySelector('.box');
        if (boxElement) {
          boxElement.style.setProperty('--grid-height', gridHeightVar);
        }
      }
  
      // Listen for the 'load' event on images to trigger the calculation
      window.addEventListener('load', () => {
        setTimeout(() => { 
          calculateAndSetColumnHeights();
          calculateAndSetGridHeight();
          }, 1000); 

      });
  
      // Recalculate heights on window resize
      window.addEventListener('resize', () => {
        calculateAndSetColumnHeights();
        calculateAndSetGridHeight();
      });
    }">
    <div
      class="box flex justify-center xgap-3 md:xgap-5 lg:xgap-8 w-full rounded-lg xoverflow-hidden">
      <template x-for="(group, groupIndex) in imageGroups" :key="groupIndex">
        <div
          class="calcGridHeight colGrid relative w-1/2 md:w-1/3 lg:w-1/4 "
          :style="'--column-height: ' + columnHeights[groupIndex]">
          <div :class="group.animationClass">
            <div
              class="calcColHeight will-change-transform w-full absolute z-[1] flex flex-col xgap-3 md:xgap-5 lg:xgap-8">
              <template
                x-for="(image, imageIndex) in group.images"
                :key="imageIndex">
                <a
                  x:style="`width: 100%; aspect-ratio: ${image.thumb_XL_w} / ${image.thumb_XL_h};`"
                  :href="image.url"
                  class="group relative p-2 md:p-4"
                  :width="`${image.thumb_XL_w}`"
                  :height="`${image.thumb_XL_h}`">
                  <span
                    class="absolute bottom-0 mb-3 group-hover:bottom-3 bg-brand-8 mx-1 px-2 py-1 z-20 text-brand-12 duration-500 ease-in-out transition-all opacity-0 rounded group-hover:opacity-100"
                    x-text="image.title"></span>

                  <img
                    :style="`width: calc(100% - 0); aspect-ratio: ${image.thumb_XL_w} / ${image.thumb_XL_h};`"
                    :src="image.thumb_M"
                    :alt="image.title"
                    :srcset="`${image.thumb_M} 303w, ${image.thumb_L} 429w, ${image.thumb_XL} 605w`"
                    x:width="`${image.thumb_XL_w}`"
                    x:height="`${image.thumb_XL_h}`"
                    sizes="(min-width: 768px) 288px, calc(50vw - 36px)"
                    class="duration-500 transition-all ease-in-out w-full height-auto rounded shadow-xl" />
                  <!--img
                    :src="image.thumb_M"
                    :alt="image.title"
                    :srcset="`${image.thumb_M} 303w, ${image.thumb_L} 429w, ${image.thumb_XL} 605w`"
                    :width="`${image.thumb_XL_w}`"
                    :height="`${image.thumb_XL_h}`"
                    sizes="(min-width: 768px) 288px, calc(50vw - 36px)"
                    class="bg-clip-content p-6 group-hover:p-3 duration-500 transition-all opacity-95 w-full rounded-[1.2rem] ease-in-out" /-->
                </a>
              </template>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</section>

<script>
  // Helper function to chunk an array into groups
  function chunkArray(array, size) {
    const chunked = [];
    const chunkSize = Math.ceil(array.length / size);

    for (let i = 0; i < size; i++) {
      const start = i * chunkSize;
      const end = (i + 1) * chunkSize;
      chunked.push(array.slice(start, end));
    }

    return chunked;
  }
</script>
