{{- $ctx := .ctx -}}
{{- $type := .type -}}
{{- $color := .color -}}
{{- $label := .label -}}
{{- $title := .title -}}
{{- $size := .size -}}
{{- $script := .script | default "" -}}
{{- $click := .click | default "" -}}
{{- $icon := .icon | default false -}}
{{- $iconPlace := .iconPlace | default "" -}}

{{- $sizes := "" -}}
{{- $colors := "" -}}
{{- $lableledClases := "" -}}

{{- $btnSizeName := "" -}}
{{- if eq $size "xs" -}}
  {{- $btnSizeName := "btn-xs " -}}
  {{- $sizes = "btn-xs [&_svg]:w-3 [&_svg]:h-3 rounded-sm text-xs font-normal text-center inline-flex items-center " -}}
{{- else if eq $size "s" -}}
  {{- $btnSizeName := "btn-s " -}}
  {{- $sizes = "[&_svg]:w-3 [&_svg]:h-3 rounded text-sm font-medium text-center inline-flex items-center " -}}
{{- else if eq $size "base" -}}
  {{- $btnSizeName := "btn-base " -}}
  {{- $sizes = "[&_svg]:w-3.5 [&_svg]:h-3.5 rounded text-sm font-medium text-center inline-flex items-center " -}}
{{- else if eq $size "l" -}}
  {{- $btnSizeName := "btn-l " -}}
  {{- $sizes = "[&_svg]:w-4 [&_svg]:h-4 rounded text-base font-medium text-center inline-flex items-center " -}}
{{- else if eq $size "xl" -}}
  {{- $btnSizeName := "btn-xl " -}}
  {{- $sizes = "[&_svg]:w-4 [&_svg]:h-4 rounded-md text-base font-medium text-center inline-flex items-center " -}}
{{- else -}}
  {{- $sizes = "[&_svg]:w-3 [&_svg]:h-3 rounded text-sm font-medium text-center inline-flex items-center " -}}
{{- end -}}

{{- $spacing := "" -}}
{{- if eq $size "xs" -}}
  {{- $spacing = "px-2 py-2 " -}}
{{- else if eq $size "s" -}}
  {{- $spacing = "px-2 py-2 " -}}
{{- else if eq $size "base" -}}
  {{ if or (eq $iconPlace "before")  (eq $iconPlace "after") }}
    {{- $spacing = " px-2 py-2.5 " -}}
  {{ else }}
    {{- $spacing = " px-2 py-2 " -}}
  {{ end }}
{{- else if eq $size "l" -}}
  {{ if or (eq $iconPlace "before")  (eq $iconPlace "after") }}
    {{- $spacing = "px-2 py-3 " -}}
  {{ else }}
    {{- $spacing = " px-3 py-3 " -}}
  {{ end }}
{{- else if eq $size "xl" -}}
  {{ if or (eq $iconPlace "before")  (eq $iconPlace "after") }}
    {{- $spacing = "px-2 py-3.5 " -}}
  {{ else }}
    {{- $spacing = " px-3.5 py-3.5 " -}}
  {{ end }}
{{ else }}
  {{ if or (eq $iconPlace "before")  (eq $iconPlace "after") }}
    {{- $spacing = "px-2 py-2.5 " -}}
  {{ else }}
    {{- $spacing = " px-2 py-2 " -}}
  {{ end }}
{{ end }}

{{- $btnColorName := "" -}}
{{- if eq $color "accent" -}}
  {{- $btnColorName = "btn-accent " -}}
  {{- $colors = "text-accent-1 dark:text-accentDark-12 bg-accent-9 hover:bg-accent-10 focus:ring-4 focus:outline-none focus:ring-accent-3 dark:bg-accentDark-8 dark:hover:bg-accentDark-7 dark:focus:ring-accent-8 " -}}
{{- else if eq $color "solid" -}}
  {{- $btnColorName = "btn-solid " -}}
  {{- $colors = "text-brand-1 dark:text-brandDark-12 bg-brand-9 hover:bg-brand-10 focus:ring-4 focus:outline-none focus:ring-brand-3 dark:bg-brandDark-7 dark:hover:bg-brandDark-8 dark:focus:ring-brand-8 " -}}
{{- else if eq $color "soft" -}}
  {{- $btnColorName = "btn-soft " -}}
  {{- $colors = "text-brand-11 dark:text-brandDark-12 bg-brand-3 hover:bg-brand-4 focus:ring-4 focus:outline-none focus:ring-brand-3 dark:bg-brandDark-3 dark:hover:bg-brandDark-7 dark:focus:ring-brand-8 " -}}
{{- else if eq $color "ghost" -}}
  {{- $btnColorName = "btn-ghost " -}}
  {{- $colors = "text-brand-10 hover:text-brand-2 border border-brand-7 hover:bg-brand-10 focus:ring-4 focus:outline-none focus:ring-brand-3  dark:border-brandDark-6 dark:text-brandDark-10 dark:hover:text-white dark:hover:bg-brandDark-5 dark:focus:ring-brandDark-3 " -}}
{{- else if eq $color "fake" -}}
  {{- $btnColorName = "btn-fake " -}}
  {{- $colors = "text-brand-10 hover:text-brand-12 hover:bg-brand-3 focus:ring-4 focus:outline-none focus:ring-brand-3  dark:text-brandDark-10 dark:hover:text-brandDark-12 dark:hover:bg-brandDark-3 dark:focus:ring-brandDark-3 " -}}
{{- end -}}

{{- $contructor := "block w-auto justify-center items-center gap-1 text-center font-bold transition duration-200 " -}}

{{ $classIconSpacing := "" }}

{{ if eq $iconPlace "before" }}
  {{ $classIconSpacing = " [&_svg]:mr-2 " }}
{{ else if eq $iconPlace "after" }}
  {{ $classIconSpacing = " [&_svg]:ml-2 " }}
{{ end }}

{{- /* {{- $size | default "normal" -}} | {{- $color -}} */ -}}
{{- if eq $type "button" -}}
  <button
    {{ printf "@click=%q" $click | safeHTMLAttr }}

    {{ if eq $ctx.Title "Sitemap" }}
      @click="copyToClipboard($event.target)"
    {{ end }}
    type="button"
    class="{{- $btnColorName -}} {{- $btnSizeName -}} {{- $sizes -}} {{- $spacing -}} {{ $classIconSpacing }} {{- $colors -}}
    {{- $contructor -}} {{- $lableledClases -}}">
    {{ if eq $iconPlace "before" }}
      <span class="flex items-center px-2">
        {{- with $icon -}}
          {{- $path := printf "icons/%s.svg" $icon -}}
          {{- partial $path -}}
        {{- end -}}

        {{ $label }}
      </span>
    {{ else if eq $iconPlace "after" }}
      <span class="flex items-center px-2">
        {{ $label }}
        {{- with $icon -}}
          {{- $path := printf "icons/%s.svg" $icon -}}
          {{- partial $path -}}
        {{- end -}}
      </span>
    {{ else }}
      {{- with $icon -}}
        {{- $path := printf "icons/%s.svg" $icon -}}
        {{- partial $path -}}
      {{ else }}
        {{ with $label }}
          <span class="flex items-center px-4">
            {{ $label }}
          </span>
        {{ end }}
      {{- end -}}
    {{ end }}
  </button>
{{- else -}}
  <a
    title="{{- $title -}}"
    href="{{- $type -}}"
    class="{{- $btnColorName -}} {{- $btnSizeName -}} {{- $sizes -}} {{- $spacing -}} {{ $classIconSpacing }} {{- $colors -}} {{- $contructor -}}  {{- $lableledClases -}} no-underline
">
    {{ if eq $iconPlace "before" }}
      <span class="flex items-center px-2">
        {{- with $icon -}}
          {{- $path := printf "icons/%s.svg" $icon -}}
          {{- partial $path -}}
        {{- end -}}

        {{ $label }}
      </span>
    {{ else if eq $iconPlace "after" }}
      <span class="flex items-center px-2">
        {{ $label }}
        {{- with $icon -}}
          {{- $path := printf "icons/%s.svg" $icon -}}
          {{- partial $path -}}
        {{- end -}}
      </span>
    {{ else }}
      {{- with $icon -}}
        {{- $path := printf "icons/%s.svg" $icon -}}
        {{- partial $path -}}
      {{ else }}
        {{ with $label }}
          <span class="flex items-center px-4">
            {{ $label }}
          </span>
        {{ end }}
      {{- end -}}
    {{ end }}
  </a>
{{- end -}}
